<main class="page">
  <section class="profile">
    <div class="profile__header">
      <label class="avatar-lg">
        <span>👤</span>
        <div class="avatar-lg__overlay">Загрузить</div>
        <input class="avatar-lg__input" type="file" name="avatar" accept="image/*" />
      </label>
      <h1 class="profile__name">{{displayName}}</h1>
    </div>
    <form class="profile__form" id="profile-form">
      <ul class="profile__fields">
        <li class="profile__field">
          <span class="profile__field-label">Почта</span>
          <span class="profile__field-value">{{email}}</span>
          <input class="input profile__field-input" type="email" name="email" value="{{email}}" />
        </li>
        <li class="profile__field">
          <span class="profile__field-label">Логин</span>
          <span class="profile__field-value">{{login}}</span>
          <input class="input profile__field-input" type="text" name="login" value="{{login}}" />
        </li>
        <li class="profile__field">
          <span class="profile__field-label">Имя</span>
          <span class="profile__field-value">{{firstName}}</span>
          <input class="input profile__field-input" type="text" name="first_name" value="{{firstName}}" />
        </li>
        <li class="profile__field">
          <span class="profile__field-label">Фамилия</span>
          <span class="profile__field-value">{{lastName}}</span>
          <input class="input profile__field-input" type="text" name="second_name" value="{{lastName}}" />
        </li>
        <li class="profile__field">
          <span class="profile__field-label">Имя в чате</span>
          <span class="profile__field-value">{{displayName}}</span>
          <input class="input profile__field-input" type="text" name="display_name" value="{{displayName}}" />
        </li>
        <li class="profile__field">
          <span class="profile__field-label">Телефон</span>
          <span class="profile__field-value">{{phone}}</span>
          <input class="input profile__field-input" type="tel" name="phone" value="{{phone}}" />
        </li>
      </ul>
      <div class="profile__actions">
        <button class="button-secondary" type="button" id="profile-edit-btn">Изменить данные</button>
        <button class="button-secondary" type="button">Изменить пароль</button>
        <button class="button-danger" type="button">Выйти</button>
      </div>
    </form>
    <a class="link" data-page="chat-list" href="#">← Назад к чатам</a>
  </section>
</main>
